* {
	box-sizing: border-box;
}

.logo {
	background-color: #4aaaa5;
    border: 20px solid #fff;
    width: 25%;
    padding: 20px;
    color: white;
    display: inline;
}

#link3 {
	float: right;
	border-left: 2px solid #D3D3D3;
	padding: 0px 5px;
	color: #D3D3D3;
}

#link2 {
	float: right;
	border-left: 2px solid #D3D3D3;
	padding: 0px 5px;
	color: #D3D3D3;
}

#link1 {
	float: right;
	padding: 0px 5px;
	color: #D3D3D3;
}


